.nav {
    height: 60px;
    background-color: rgb(36, 36, 102);
}

.wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    gap: 5px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.moreWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.expandIcon:hover {
    cursor: pointer;
}

.detailsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
}

.list li {
    margin-right: 40px;
}

.hidden {
    display: none;
}