.image {
  background-image: url("./../public/airplane-flying-over-paris-eiffel-tower-1400x500.jpg");
  height: 500px;
  width: 100%;
  position: sticky;
  z-index: 0;
}

.searchForm {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 120px;
}